@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700');

html, body {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  heigth: 100%;
  width: 100%;
}

section#header div.inner {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #F7F7F9;
}

section#header div.inner div.container {
  text-align: center;
}

section#header div.inner div.container h1 {
  font-weight: normal;
}

section#header div.inner div.container h1 strong {
  font-weight: 500;
}
